web/WEB-INF/wsdl/localhost_8080/SW_VistaCliente/WSCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="WSCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/SW_VistaCliente/WSCliente?xsd=1"/>
</xsd:schema>
</types>
<message name="Retiro">
<part name="parameters" element="tns:Retiro"/>
</message>
<message name="RetiroResponse">
<part name="parameters" element="tns:RetiroResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="Deposito">
<part name="parameters" element="tns:Deposito"/>
</message>
<message name="DepositoResponse">
<part name="parameters" element="tns:DepositoResponse"/>
</message>
<message name="ObtenerSaldo">
<part name="parameters" element="tns:ObtenerSaldo"/>
</message>
<message name="ObtenerSaldoResponse">
<part name="parameters" element="tns:ObtenerSaldoResponse"/>
</message>
<message name="CrearCliente">
<part name="parameters" element="tns:CrearCliente"/>
</message>
<message name="CrearClienteResponse">
<part name="parameters" element="tns:CrearClienteResponse"/>
</message>
<portType name="WSCliente">
<operation name="Retiro">
<input wsam:Action="http://sw/WSCliente/RetiroRequest" message="tns:Retiro"/>
<output wsam:Action="http://sw/WSCliente/RetiroResponse" message="tns:RetiroResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sw/WSCliente/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sw/WSCliente/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://sw/WSCliente/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://sw/WSCliente/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="Deposito">
<input wsam:Action="http://sw/WSCliente/DepositoRequest" message="tns:Deposito"/>
<output wsam:Action="http://sw/WSCliente/DepositoResponse" message="tns:DepositoResponse"/>
</operation>
<operation name="ObtenerSaldo">
<input wsam:Action="http://sw/WSCliente/ObtenerSaldoRequest" message="tns:ObtenerSaldo"/>
<output wsam:Action="http://sw/WSCliente/ObtenerSaldoResponse" message="tns:ObtenerSaldoResponse"/>
</operation>
<operation name="CrearCliente">
<input wsam:Action="http://sw/WSCliente/CrearClienteRequest" message="tns:CrearCliente"/>
<output wsam:Action="http://sw/WSCliente/CrearClienteResponse" message="tns:CrearClienteResponse"/>
</operation>
</portType>
<binding name="WSClientePortBinding" type="tns:WSCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Retiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Deposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCliente">
<port name="WSClientePort" binding="tns:WSClientePortBinding">
<soap:address location="http://localhost:8080/SW_VistaCliente/WSCliente"/>
</port>
</service>
</definitions>