web/WEB-INF/wsdl/localhost_8080/SW_VistaCliente/WSCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="CrearCliente" type="tns:CrearCliente"/>

<xs:element name="CrearClienteResponse" type="tns:CrearClienteResponse"/>

<xs:element name="Deposito" type="tns:Deposito"/>

<xs:element name="DepositoResponse" type="tns:DepositoResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="ObtenerSaldo" type="tns:ObtenerSaldo"/>

<xs:element name="ObtenerSaldoResponse" type="tns:ObtenerSaldoResponse"/>

<xs:element name="Retiro" type="tns:Retiro"/>

<xs:element name="RetiroResponse" type="tns:RetiroResponse"/>

<xs:element name="ValidarContra" type="tns:ValidarContra"/>

<xs:element name="ValidarContraResponse" type="tns:ValidarContraResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="ObtenerSaldo">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerSaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Retiro">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetiroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Deposito">
<xs:sequence>
<xs:element name="Valor" type="xs:double"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearCliente">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarContra">
<xs:sequence>
<xs:element name="passone" type="xs:string" minOccurs="0"/>
<xs:element name="passtwo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarContraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>